apiVersion: apps/v1
kind: Deployment
metadata:
  name: k8s-helper
  labels:
    app: k8s-helper
spec:
  replicas: 1
  selector:
    matchLabels:
      app: k8s-helper
  template:
    metadata:
      labels:
        app: k8s-helper
    spec:
      containers:
      - name: k8s-helper
        image: ${GCR_TAG}:${WERCKER_GIT_COMMIT}
        imagePullPolicy: Always
